/* -------------------------------------------------------------------------- */
/* Colors (Light Mode)                                                        */
/* -------------------------------------------------------------------------- */
:root {
    --elegance-text-color: #000;
    --elegance-background-color: #fff;
    --elegance-accent-text-color: #cc0000;
    --elegance-accent-background-color: #fff;

    --elegance-heading-underline-color: #888;

    --elegance-code-background-color: #f8f8f8;
    --elegance-code-border-color: #bbb;

    --elegance-table-row-background-even: #fff;
    --elegance-table-row-background-odd: #f6f6f6;
    --elegance-table-head-background: #fff;
    --elegance-table-border-color: #000;

    --elegance-navigation-marker-color: #757575;
}

/* -------------------------------------------------------------------------- */
/* Colors (Dark Mode)                                                         */
/* -------------------------------------------------------------------------- */
@media (prefers-color-scheme: dark) {
    :root {
        --elegance-text-color: #f1f1f1;
        --elegance-background-color: #111;
        --elegance-accent-text-color: #ff7070;
        --elegance-accent-background-color: #111;

        --elegance-heading-underline-color: #a1a1a1;

        --elegance-code-background-color: #212121;
        --elegance-code-border-color: #6c6c6c;

        --elegance-table-row-background-even: #111;
        --elegance-table-row-background-odd: #252525;
        --elegance-table-head-background: #111;
        --elegance-table-border-color: #fff;

        --elegance-navigation-marker-color: #aaa;
    }
}

/* -------------------------------------------------------------------------- */
/* Top-level Elements                                                         */
/* -------------------------------------------------------------------------- */
html {
    width: 100%;
    height: 100vh;

    font-size: 125%;
}

body {
    color: var(--elegance-text-color);
    background-color: var(--elegance-background-color);

    margin: 0;
    width: 100%;
    height: 100%;

    font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Times New Roman", "Droid Serif", "Times", "Noto Serif TC", serif;
}

::selection {
    color: var(--elegance-background-color);
    background-color: var(--elegance-text-color);
}

.container {
    display: grid;

    grid-template-areas:
        ". header ."
        "nav content aside"
        "footer footer footer";

    grid-template-columns: 1fr fit-content(680px) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 8px 32px;

    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------- */
/* Header                                                                     */
/* -------------------------------------------------------------------------- */
header {
    grid-area: header;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 600;
    border-bottom: none;
    color: var(--elegance-accent-text-color);
}

/* -------------------------------------------------------------------------- */
/* Main                                                                       */
/* -------------------------------------------------------------------------- */
main {
    grid-area: content;
    line-height: 1.65;
    hyphens: auto;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

main a {
    color: var(--elegance-text-color);
    /*text-decoration-color: #000;*/
}

/*main p:nth-of-type(2):first-letter {*/
main p:first-of-type:first-letter {
    color: var(--elegance-accent-text-color);
    float: left;
    font-size: 8rem;
    line-height: 74%;
    margin-top: 0.7rem;
    margin-bottom: -0.7rem;
    padding-right: 0.2rem;
}

/*main p:nth-of-type(2):first-line {*/
main p:first-of-type:first-line {
    font-variant: small-caps;
}

/* -------------------------------------------------------------------------- */
/* Backlinks Panel                                                            */
/* -------------------------------------------------------------------------- */
aside {
    grid-area: aside;
}

aside b {
    font-variant: small-caps;
    font-size: 1.125rem;
}

aside ul {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-position: inside;
    list-style-type: circle;
}

aside ul li::marker {
    color: var(--elegance-navigation-marker-color);
}

aside a {
    text-decoration: none;
    color: var(--elegance-text-color);
}

/* -------------------------------------------------------------------------- */
/* Navigation                                                                 */
/* -------------------------------------------------------------------------- */
nav {
    grid-area: nav;
    justify-self: end;
    font-variant: small-caps;
    margin-top: 1.75rem;
}

nav ul {
    padding: 0;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: lower-roman;
    list-style-position: outside;
}

nav ul li::marker {
    color: var(--elegance-navigation-marker-color);
}

nav a {
    text-decoration: none;
    color: var(--elegance-text-color);
}

nav svg {
    margin-bottom: 2rem;
}

svg {
    fill: var(--elegance-text-color);
}

.svgGroup {
    fill: var(--elegance-text-color);
}

/* -------------------------------------------------------------------------- */
/* Footer                                                                     */
/* -------------------------------------------------------------------------- */
footer {
    grid-area: footer;
    padding: 1.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--elegance-heading-underline-color) 50%, rgba(0,0,0,0) 100%) 1;
    text-align: center;
}

footer p {
    margin: 0;
}

address {
    display: inline;
    font-style: normal;
}

/* -------------------------------------------------------------------------- */
/* Links                                                                      */
/* -------------------------------------------------------------------------- */
a {
    color: var(--elegance-text-color);
    text-decoration-thickness: from-font;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .2s;
    transition-timing-function: linear;
    /*text-decoration-style: dotted;*/
}

a:hover {
    color: var(--elegance-accent-text-color);
}

/* -------------------------------------------------------------------------- */
/* Headings                                                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    line-height: 1;
    border-bottom: 1px solid var(--elegance-heading-underline-color);
    text-align: right;
    margin-top: 1.75rem;
    margin-bottom: 0.375rem;
    font-weight: 600;
    font-variant: small-caps;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25;
    border-bottom: 1px solid var(--elegance-heading-underline-color);
    border-style: none none dotted;
    text-transform: uppercase;
}

h4 {
    text-transform: capitalize;
    font-size: 1.125em;
}

h5 {
    text-transform: capitalize;
    font-size: 1.125em;
}

h6 {
    text-transform: capitalize;
    font-size: 1.125em;
}

/* -------------------------------------------------------------------------- */
/* Accented Elements                                                          */
/* -------------------------------------------------------------------------- */
u {
    color: var(--elegance-accent-text-color);
    text-decoration: none;
}

u a {
    color: var(--elegance-accent-text-color);
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .2s;
    transition-timing-function: linear;
}

u a:hover {
    color: var(--elegance-text-color);
}

header h1::selection,
u::selection,
u b::selection,
u i::selection,
u a::selection,
#eof::selection {
    color: var(--elegance-accent-background-color);
    background-color: var(--elegance-accent-text-color);
}

#eof {
    text-align: right;
    float: right;
    color: var(--elegance-accent-text-color);
    font-family: "UnifrakturMaguntia";
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
}

#eof:hover {
    color: var(--elegance-text-color);
}

/* -------------------------------------------------------------------------- */
/* Code Blocks                                                                */
/* -------------------------------------------------------------------------- */
pre {
    display: block;
    background-color: var(--elegance-code-background-color);
    border: 1px solid;
    border-color: var(--elegance-code-border-color);
    padding: 25px;
}

/* -------------------------------------------------------------------------- */
/* Tables                                                                     */
/* -------------------------------------------------------------------------- */
table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-color: var(--elegance-table-border-color);
    border-style: solid;
    border-width: 2px 0;
    width: 100%;
    font-size: .75em;
    table-layout: fixed;
}

table th {
    font-weight: 700;
    border-bottom: 1px solid;
    hyphens: none;
    text-align: left;
    padding: 7px 10px;
    line-height: 1.35;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 7px 10px;
    line-height: 1.35;
}

tbody tr:nth-child(even) {
    background: var(--elegance-table-row-background-even);
}

tbody tr:nth-child(odd) {
    background: var(--elegance-table-row-background-odd);
}

thead tr {
    background: var(--elegance-table-head-background);
}

/* -------------------------------------------------------------------------- */
/* Images                                                                     */
/* -------------------------------------------------------------------------- */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/* -------------------------------------------------------------------------- */
/* Mobile                                                                     */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    html {
        font-size: 18px;
    }

    .container {
        display: grid;

        grid-template-areas:
            ". nav ."
            ". header ."
            ". content ."
            ". aside ."            
            "footer footer footer";

        grid-template-columns: 16px auto 16px;
        grid-template-rows: auto auto 1fr auto;
        grid-gap: 0px;

        height: 100vh;
    }

    nav {
        justify-self: center;
        background-color: var(--elegance-code-background-color);
        border: 1px solid;
        border-color: var(--elegance-code-border-color);
        padding: 25px;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }

    nav svg {
        display: none;
    }
}